img {
  height: 50%;
  width: 80%;
  padding: 45px;
  border: 11px solid;
}


@media {
  (min-width: 576px);
} 

@media {
  (min-width: 768px);
} 

@media {
  (min-width: 992px);
}
   
body {
  background-color: grey;
  border: 10px solid;
}
h1 {
  padding: 30px;
}

section {
  padding: 20px;
}
footer {
  border: 40px solid;
}