* {
box-sizing: border-box;
}

body {
  background-color: black;
  padding: 0%;
  margin: 0%;
  font-family: 'Mansalva', cursive
}

 .logo {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 35px;

 }

 .model {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 35px;

 }

 .ul-img {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 35px;
 }

 section {
   background-color: pink;
   width: 100%;
 }

 .exit {
   display: inline-block;
 }

.header {
  display: flex;
  flex-direction: row;
  border: 5px solid ;
}

.section {
  background-color: pink;
  border: 5px solid;
}

.body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 60px;
  text-align: center;
  border: 5px solid;
}

.ul-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
