h1 {
  color: red;
  font-style: italic
}

body {
    font-family: 'Verdana', sans-serif;
    margin: 50px auto;
    width: 760px;
}

article { 
  color: coral;
  width: 20px:
}

p {
  font-family: 'Verdana', sans-serif;
  margin: 25px auto;
  width: 760px;
}

main {
  background-color: darkgrey
}

#h2 {
  border-left: 30%;
  width: 20px;
}