* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.main-container .item {
height: 300px;
widows: 300px;
background-color: blue;
margin: 10px auto
}

@media(min-width: 576px)
  .main-container .item {
    display: inline-block;
  }

  .main-container .item:nth-last-of-type(4) {
    background-attachment: red; 
    }
