* {
  background-color: darkgray;
}

main {
 color: red;
 height: 60%;
 border: 20px:
}

header {
  color: blue;
  height: 50%;
  width: 10px;
}

div {
  color: black; 
  height: 30%;
  width: 10px
}

