.first {
    background-color: fuchsia;
}
.column, .row {
  height: 25%;
  width: 100%;
  border: 10px solid black;

}
.item {
  height: 75px;
  width: 100%;
  margin: 10px;
  background-color: blue; 
  
}
.row, .item {
display: block; 
width: 100px
}